* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; /* Обязательный и полезный сброс */
}

/* Сброс стилей для списков */
ul, ol {
    list-style: none;
}

/* Удаление подчеркивания у ссылок по умолчанию */
a {
    text-decoration: none;
    color: inherit; /* Задача 4.1: Наследование для ссылок */
}

/* Сброс границ у изображений */
img {
    border: 0;
    max-width: 100%;
    display: block;
}
